.contenedor {
    display: flex;
    gap: 5rem;
    place-content: center;
}



.logo__div {
    display: inline-block;
    margin-bottom: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 30rem;

}

.informacion {
    color: #fff;
    font-weight: 400;
    font-size: 4rem;
    margin: 0;
}

textarea {
    width: 40rem;
    height: 30rem;
    border: none;
    background-color: darken($amarillo, 5%);
    padding: 3rem;
    color: #fff;
    font-size: 3rem;
}

textarea:focus {
    outline: none;
}

textarea::placeholder {
    color: #ffff;
    font-size: 2rem;
    opacity: .5;
    padding: 3rem;
    text-transform: uppercase;
}

button {
    color: #fff;
    background-color: $amarillo;
    border: 1px solid;
    border-radius: .5rem;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;

}
button:hover{
    cursor: pointer;
}

.botones {
    display: flex;
    gap: 2rem;

}

